

{
    margin: 0;
    padding: 0;
    box sizing: border-box;
}
 body{
    margin: 0 auto;
    max-width: 1200 px;
    font-family: 'Lato';
    color: #333;
 }
 .icon-cart{
    widt: 40 px;
    height: 40px;
 }

 img{
    max.width: 100%;
 }
 header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
 }
